.site-header {
    @extend %block-default-full-width;
    position: fixed;
    height: $height-site-header;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background: $color-site-header-bg;
    color: $white;
    z-index: 5;
    @extend %box-shadow-white;
    .logged-in &,
    .menu-bar & {
        top: 32px;
    }
    .page-wrap {
       // max-width: $width-content;
        padding: 20px $padding-md;
    }
    div.title-area {
        display: inline-block;
        float: left;
        width: auto;
       max-width: 350px;
        margin: 0;
        text-align: left;
        .wrap {
            clear: none;
            display: inline-block;
            float: left;
            width: auto;
            &:before,
            &:after {
                display: none;
            }
        }
        img {
        	clear:none;
            display: inline-block;
            float: left;
            height: 50px;
            width: 50px;
            margin-right: 15px;
            @media screen and (max-width: 414px) {
               width: 50px;
               height: 50px;
            }
            &:before,
            &:after {
            	display: none;
            }
        }
        a h1 {
        	clear: none;
            display: inline-block;
            //width: 100%;
            float: left;
            font-size: 24px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            border-bottom: 2px solid $color-red-3;
            color: $color-red-2;
            line-height: 1.2;
            span {
                &:first-child {
                    font-family: $font-sans-black;
                    color: $color-red-2;
                }
                &:nth-child(2) {
                    font-family: $font-sans-light;
                    color: $color-gray-1;
                }
                &:last-child {
                    font-family: $font-sans-black;
                   color: $color-gray-3;
                }
            }
            @media screen and (max-width: 479px) {
                font-size: 24px;
                span {
                    &:first-child {
                        font-family: $font-narrow-medium;
                        color: $white;
                    }
                    &:nth-child(2) {
                        font-family: $font-narrow-regular;
                        color: $color-gray-1;
                    }
                    &:last-child {
                        font-family: $font-narrow-medium;
                        color: $white;
                    }
                }
            }
        }
        p {
            display: inline-block;
            float: left;
            position: relative;
            font-family: $font-sans;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            @media screen and (max-width: $mobile) {
                float: left;
                width: auto;
            }
            @media screen and (max-width: 479px) {
                font-family: $font-narrow-regular;
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .site-header {
        display: none;
    }
}

