.site-header {
    @extend %block-default-full-width;
    position: fixed;
    height: $height-site-header;
    top: 0;
    left: 0;
    right: 0;
    background: $color-site-header-bg;
    color: $white;
    z-index: 5;
    @extend %box-shadow-white;
    .logged-in &,
    .menu-bar & {
        top: 32px;
    }
    .page-wrap {
        max-width: $width-content;
        padding: $padding-md;
    }
    div.title-area {
        @extend .one-half;
        margin-left: 0;
        text-align: left;
        img {
            float: left;
            height: 62px;
            width: auto;
            margin-right: 15px;
            @media screen and (max-width: 414px) {
                display: none;
            }
        }
        a h1 {
            display: inline-block;
            float: left;
            width: auto;
            font-size: 30px;
            margin: 0;
            text-transform: uppercase;
            border-bottom: 2px solid $color-red-3;
            color: $color-red-2;
            span {
                &:first-child {
                    font-family: $font-sans-black;
                    color: $white;
                }
                &:nth-child(2) {
                    font-family: $font-sans-light;
                    color: $color-gray-1;
                }
                &:last-child {
                    font-family: $font-sans-black;
                    color: $white;
                }
            }
            @media screen and (max-width: 479px) {
                font-size: 24px;
                span {
                    &:first-child {
                        font-family: $font-narrow-medium;
                        color: $white;
                    }
                    &:nth-child(2) {
                        font-family: $font-narrow-light;
                        color: $color-gray-1;
                    }
                    &:last-child {
                        font-family: $font-narrow-medium;
                        color: $white;
                    }
                }
            }
        }
        p {
            float: left;
            font-family: $font-sans-light;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            @media screen and (max-width: 479px) {
                font-family: $font-narrow-regular;
                font-size: 16px;
            }
        }
    }
    nav {
        @extend .one-half;
        padding: 20px 0;
        ul {
            float: right;
            text-align: right;
            li.menu-item a {
                color: $white;
                &:hover {
                    color: $color-gray-2;
                }
                &:active,
                &:focus,
                &.active,
                .active {
                    color: $color-gray-1;
                }
            }
            ul {
                background: $white;
                text-align: left;
                margin-left: 15px;
                font-family: $font-sans-medium;
                li.menu-item a {
                    line-height: 2;
                    @extend %link-default;
                    border: none;
                }
            }
        }
    }
}
