body.home.page {
    background-color: #000;
    color: $white;
    background: url(../images/trio_overlay.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.hero {
	margin-bottom: 60px;
	h1, h2 {
		margin: 0;
		line-height: 1.1;
	}
    h1 {
        font-size: 72px;
        font-family: $font-sans-black;
    }
}
