.home-sections {
    @extend %block-default-full-width;
    text-align: center;
    .home-text {
        background: transparent;
    }
    h1,
    h3 {
        margin: 0;
    }
    h2 {
        margin-bottom: $padding-xl;
    }
    h3 {
        text-align: left;
        line-height: $line-height-base;
        margin-bottom: $padding-lg;
    }
    h4 {
        text-align: left;
        line-height: $line-height-base;
        margin-bottom: 0;
    }
    section {
        padding: $padding-xl;
        margin-bottom: $padding-xl;
        h1 {
            font-size: 6.5vw;
        }
        h2 {
            font-size: 3.5vw;
            a {
                @extend %link-default;
                color: $color-red-2;
                border: none;
                text-decoration: none;
                font-style: normal;
                @extend .krampus;
                font-size: 4vw;
            }
        }
        &:first-child {
            background-color: #000;
            background-image: url("../images/home_bg_old.jpg");
            background-repeat: no-repeat;
            background-size: 65% auto;
            background-position: right bottom;
            padding: 0;
            color: $white;
            margin-top: $padding-lg;
            @extend %box-shadow-white;
            h1 {
                color: $color-red-2;
                margin-bottom: $padding-lg;
            }
            h2 {
                margin-bottom: $padding-lg;
                + h3 {
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .home-img {
                margin-left: 0;
                background: transparent;
                img {
                    max-width: 100%;
                }
            }
            .home-text {
                background: transparent;
                padding: $padding-xl;
            }
        }
        &:nth-child(2) {
            background-color: #000;
            background-image: url("../images/bighorn_01.png");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: left bottom;
            padding: 0;
            color: $white;
            @extend %box-shadow-white;
            .home-img {
                margin-left: 0;
                img {
                    max-width: 100%;
                }
            }
            .home-text {
                .wrap {
                    padding: $padding-xl $padding-xl $padding-xl 20%;
                }
            }
        }
        &:last-child {
            padding: $padding-sm;
            background: $black-tint;
            margin-bottom: $padding-md;
            h1 {
                font-family: $font-sans-medium;
                text-transform: uppercase;
                font-size: $font-size-h1;
            }
            h3 {
                text-align: center;
                color: $white;
                font-size: 30px;
                margin-top: 0;
                margin-bottom: $padding-md;
            }
            button {
                clear: both;
                text-align: center;
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.home-img {
    @extend .one-third;
    background: transparent;
    &:first-child {
        margin-left: 0;
    }
    img {
        @extend %block-default-full-width;
    }
}

.home-text {
    @extend .two-thirds;
    background: transparent;
    &:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .home-sections {
        section {
            padding: 0;
            margin-bottom: 0;
            .home-text,
            .home-img {
                clear: both;
                float: none;
                display: block;
                position: relative;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                background: rgba(0,0,0,.75);
                margin-bottom: 0;
                padding: $padding-lg;
            }
            .home-img {
                margin: 0;
                padding: 0;
                height: 0;
                max-height: 0;
                overflow: hidden;
                img {
                    max-width: 30vw;
                }
            }
            h1 {
                font-size: 9vw;
            }
            h2,
            h2.krampus {
                font-size: 5.375vw;
                &:before,
                &:after {
                    margin: 15px auto;
                }
            }
            h3,
            h2 + h3 {
                width: 100%;
                margin-bottom: $padding-md;
            }
            &:first-child {
                h3,
                h2 + h3 {
                    width: 100%;
                }
                .home-text {
                    background: rgba(0, 0, 0, .75);
                    padding: $padding-lg;
                }
                .textwidget .wrap {
                    padding: 0;
                }
            }
            &:nth-child(2) {
            	margin-bottom: $padding-md;
                .home-text {
                    float: right;
                    padding: $padding-lg;
                }
                .home-img {
                    float: left;
                }
                h2 {
                    font-size: 5.375vw;
                    &:before,
                    &:after {
                        margin: 15px auto;
                    }
                }
                .krampus {
                    font-size: 6.25vw;
                }
                .textwidget .wrap {
                    padding: 0;
                }
            }
            &:last-child {
                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .home-sections {
        section {
            h1 {
                font-size: 72px;
            }
            h2 {
                font-size: 42px;
            }
        }
    }
}

.wrap.maskinfo,
.careinfo {
    background: $black-tint;
    color: $white;
    padding: $padding-lg;
    margin-top: $padding-lg;
    a {
        @extend %link-inverse;
    }
}

.gallery,
#masonry {
	main {
		@extend %block-default-full-width-height;
	}
	main .wrap {
		padding: 0 10px;
	}
	.page-header {
		padding: $padding-md $padding-lg;
		background: $white;
	}
	.gallery-icon {
		background: $brand-primary;
	}
	.wp-caption-text {
		color: $color-text-main;
		padding:0;
	}

}
.about-krampusworksla {
	.page-header {
		margin-bottom: $padding-md;
	}
}