button,
.button {
	clear: both;
	display: block;
	position: relative;
	width: auto;
	min-width: none;
    padding: $padding-sm $padding-md;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    background: $color-cta;
    color: $white;
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    font-size: $font-size-base;
    font-family: $font-sans-bold;
    text-transform: uppercase;
    @extend %transition-default;
    appearance: none;
    a &,
    a {
    	text-decoration: none;
    }
    &:hover {
        background: $color-cta-hover;
        color: $white;
    }
    &:active,
    &:focus,
    &.active,
    .active {
        background: $color-cta-active;
        color: $white;
    }
    &.inverse,
    .inverse {
        background: $white;
        color: $color-text-main;
       &:hover {
            background: $color-gray-4;
            color: $white;
        }
        &:active,
        &:focus,
        &.active,
        .active {
            background: $color-text-main;
            color: $white;
        }
    }
    &.xs,
    .xs {
        font-size: calc( #{$font-size-base} * .75);
        padding: $padding-xs $padding-sm;
    }
    &.sm,
    .sm {
        font-size: calc( #{$font-size-base} * .875);
        padding: $padding-sm $padding-md;
    text-decoration: none;
    }
    &.lg,
    .lg {
        font-size: calc( #{$font-size-base} * 1.375);
        padding: $padding-md $padding-lg;
        font-family: $font-sans-black;
     text-decoration: none;
       @media screen and (max-width: $mobile) {
            font-size: $font-size-base;
            padding: $padding-sm $padding-md;
        }
    }
    &.xl,
    .xl {
        font-size: calc( #{$font-size-base} * 2;
        padding: $padding-md $padding-lg;
        font-family: $font-sans-black;
     text-decoration: none;
       @media screen and (max-width: 414px) {
            font-size: calc( #{$font-size-base} * 1.75;
            padding: $padding-sm $padding-md;
        }
    }
}
