nav.nav-primary {
    display: inline-block;
    float: right;
    width: auto;
    max-width: 420px;
    font-family: $font-sans-medium;
    ul {
        font-family: inherit;
        width: auto;
        float: right;
        display: block;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            font-family: inherit;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: none;
            position: absolute;
            top: 25px;
            left: -999em;
            z-index: 99999;
            margin-left: $padding-md;
            padding-top: $padding-md;
            ul {
                left: -999em;
                top: 0;
                background: $color-gray-2;
            }
            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }
            a {
                background: $color-gray-1;
                width: 190px;
                line-height: 2;
                &:hover {
                    background: $color-cta;
                    color: $white;
                }
                &:active,
                &:focus {
                    background: $color-cta-active;
                    color: $white;
                }
            }
            :hover > a,
            .focus > a {}
            a:hover,
            a.focus {}
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        float: left;
        position: relative;
    }
    a {
        display: inline-block;
        width: auto;
        text-decoration: none;
        padding: 0 12px;
        @include transition(all, 0.4s, ease-in-out);
        &:hover {
            color: $color-gray-2;
        }
        &:active,
        &:focus {
            color: $color-gray-3;
        }
    }
    li:last-child > a {
        margin-right: -15px;
    }
    li.active > a,
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        color: $color-red-1;
    }
    header & {
        margin-top: 20px;
    }
}

.nav > li > a {
    font-family: $font-sans-medium;
    color: $white;
    text-transform: uppercase;
    background: transparent;
    &:hover {
        background: inherit;
    }
    &:active,
    &:focus,
    &.active {
        background: inherit;
    }
}

.slicknav_nav *,
.slicknav_menu * {
    font-family: $font-sans-medium;
}

p.slicknav-logo-text {
    clear: none;
    display: inline-block;
    float: left;
    margin: 0 0 0 $padding-xl;
    padding: 0;
    clear: none;
    line-height: 2.2;
    text-transform: uppercase;
    span {
        &:first-child {
            font-family: $font-sans-black;
            color: $white;
        }
        &:nth-child(2) {
            font-family: $font-sans-light;
            color: $color-gray-1;
        }
        &:last-child {
            font-family: $font-sans-black;
            color: $white;
        }
    }
    &:before,
    &:after {
        display: none;
    }
}

a.slicknav_btn {
    position: absolute;
    margin: 0;
    top: 12px;
    left: $padding-sm;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

li.search {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
}

.slicknav_nav .slicknav_arrow {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0 $padding-sm 0 0;
}

.slicknav_nav .menu-item a:hover,
.slicknav_nav a span:hover {
    background: #000;
}
.post-navigation {
	box-sizing: border-box;
	@extend %block-default-full-width;
	padding: $padding-md $padding-lg;
	text-align: center;
	background: $color-gray-1;
	a {
		padding: 0 $padding-xs;
		&:nth-child(2) {
			border-left: 1px solid $black;
		}
	}
}
