nav.nav-primary {
	ul {
		width: auto;
		float: left;
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			//float: left;
			position: absolute;
			//margin-top: 15px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;
	}
	
	a {
		display: block;
		text-decoration: none;
		padding: 0 15px;
		border-bottom: 1px solid transparent;
		@include transition(all, 0.4s, ease-in-out);
		&:hover  {
			color: $color-cta-hover;
			border-color: $color-red-3;
		}
		&:active,
		&:focus {
			color: $color-cta-active;
			border-color: $white;
		}
	}
	li:last-child > a {
		margin-right: -15px;

	}
	li.active > a,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color-gray-1;
		border-color: $white;
	}
}
.nav > li > a {
	font-family: $font-sans-medium;
	color: $white;
	text-transform: uppercase;
	background: transparent;
	&:hover {
		background: inherit;
	}
	&:active,
	&:focus,
	&.active {
		background: inherit;
	}
}
.nav-primary {
	@media screen and (max-width: $mobile ) {
		display: none;
		position: absolute;

	}
}
#nav-toggle {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 20px;
	right: 15px;
	font-size: 40px;
	z-index: 5;
	@media screen and (min-width: $desktop) {
		display: none;
	}
}