@import "../typography/typography";
html,
body {
    height: 100%;
}

body {
    font-family: $font-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    padding-top: $height-site-header;
    &.logged-in,
    &.menu-bar {
    	padding-top: calc(#{$height-site-header} + 32px);
    }
}

.container,
.wrap.container {
	clear: both;
	height: 100%;
	@extend %clearfix;
}
.row {
	clear: both;
}

.wrap.container {
	padding-top: 60px;
	padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-headings;
}

a {
    color: $color-cta;
    text-decoration: none;
    &:hover {
        color: $color-cta-hover;
        text-decoration: none;
    }
    &:active,
    &:focus,
    &.active {
        color: $color-cta-active;
    }
}

a,
a:any-link {
        @include transition(all, 0.6s, ease-in-out);
    &:hover {
        @include transition(all, 0.6s, ease-in-out);
    }
}