@import "../typography/typography";
html,
body {
    height: 100%;
}

body {
    font-family: $font-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    padding-top: $height-site-header;
}

body.home.page {
background-color: #333;
background: url(../images/home_bg.jpg) no-repeat center;
background-size: cover;
}

.page-overlay-wrap {
	display: block;
	position: fixed;
	width: 100%;
	margin: 0;
	top: $height-site-header;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	z-index: 2;
}
.container,
.wrap.container {
	clear: both;
	height: 100%;
	@extend %clearfix;
}
.row {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-headings;
}

a {
    color: $color-cta;
    text-decoration: none;
    &:hover {
        color: $color-cta-hover;
        text-decoration: none;
    }
    &:active,
    &:focus,
    &.active {
        color: $color-cta-active;
    }
}

a,
a:any-link {
        @include transition(all, 0.6s, ease-in-out);
    &:hover {
        @include transition(all, 0.6s, ease-in-out);
    }
}
