@import "../typography/typography";
html,
body {
    height: 100%;
}

body {
    font-family: $font-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    padding-top: $height-site-header;
    &.logged-in,
    &.menu-bar {
        padding-top: calc(#{$height-site-header} + 32px);
    }
}

.main {
	padding-top: 60px;
	padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-headings;
}

a,
a:any-link {
    color: $color-cta;
    text-decoration: none;
    transition: all .5s ease-in-out;;
    &:hover {
        color: $color-cta-hover;
        text-decoration: none;
    }
    &:active,
    &:focus,
    &.active {
        color: $color-cta-active;
    }
}

.btn,
.button {
	font-family: $font-sans-medium;
	text-transform: uppercase;
}
