@import "colors";
@import "mixins-master";

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$height-site-header:	90px;
$height-site-footer:	60px;
$phone-sm:				414px;
$phone-md:				640px;
$phone-lg:				800px;						
$tablet:				801px;
$mobile:				1024px;
$desktop:				1025px;

$padding-xs:			5px;
$padding-sm:			10px;
$padding-md:			15px;
$padding-lg:			30px;
$padding-xl:			60px;

$width-content:			1170px;
$width-content-gutter:	30px;
$width-sidebar-primary:	250px;


// Colors
$brand-primary:         $color-red-3;
