ul.product_list_widget {
    @extend %block-default-full-width;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $color-text-main;
    .home & {}
    li {
        @extend .one-third;
        box-sizing: border-box;
        margin-bottom: $padding-lg;
        color: $color-text-main;
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        .home & {
            background: $white-tint;
            border: 1px solid $brand-primary;
            padding: $padding-lg;
        }
        a {
            @extend %block-default-full-width;
            @extend %link-default;
            img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image,
            img {
                @extend %block-default-full-width;
                margin: 0;
                height: auto;
                @extend %transition-default;
                &:hover {
                    -webkit-filter: brightness(50%);
                    -moz-filter: brightness(50%);
                    filter: url(#brightness);
                    filter: brightness(50%);
                }
                &:active {
                    -webkit-filter: contrast(150%);
                    -moz-filter: contrast(150%);
                    filter: url(#contrast);
                    filter: contrast(150%);
                }
            }
        }
        a .product-title {
            @extend .krampus;
            font-size: 2vw;
            line-height: 2;
        }
        .amount {
            @extend h1;
            color: $color-text-main
        }
    }
}

.archive.woocommerce ul.products {
    @extend %block-default-full-width;
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    li {
    	box-sizing: border-box;
        @extend .one-half;
        background: $brand-primary;
        color: $white;
        margin-bottom: $padding-lg;
        @extend %box-shadow-white;
        padding: $padding-lg;
        &:nth-child(odd) {
            margin-left: 0;
        }
        a {
            @extend %block-default-full-width;
            color: $color-text-main;
            img {
            	//background: $brand-primary;
            }
            h3 {
            	margin: 0;
            	line-height: 2;
            	background: $white;
            }
            &.button {
            	color: $white;
            	background: $black;
            	&:hover {
            		background: $color-cta-hover;
            		border-color: $color-cta-hover;
            	}
            }
        }
    }
    span.price {
        display: block;
        position: relative;
        clear: both;
        font-family: $font-sans-bold;
        margin: 0 auto;
        line-height: 2;
        //color: $color-text-main;
        //font-size: 1.6vw;
        width: 100%;
        background: $white;
    }
}
