ul.product_list_widget {
    @extend %block-default-full-width;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $color-text-main;
    .home & {
        background: $black-tint;
        //color: $white;
    }
    li {
        @extend .one-third;
        box-sizing: border-box;
        margin-bottom: $padding-lg;
        color: $color-text-main;
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        .home & {
            background: $white-tint;
            border: 1px solid $brand-primary;
            padding: $padding-lg;
        }
        a {
            @extend %block-default-full-width;
            @extend %link-default;
            img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image,
            img {
                @extend %block-default-full-width;
                margin: 0;
                height: auto;
                @extend %transition-default;
                &:hover {
                    -webkit-filter: brightness(50%);
                    -moz-filter: brightness(50%);
                    filter: url(#brightness);
                    /* required for FF */
                    filter: brightness(50%);
                }
                &:active {
                    -webkit-filter: contrast(150%);
                    -moz-filter: contrast(150%);
                    filter: url(#contrast);
                    filter: contrast(150%);
                }
            }
        }
        a .product-title {
            @extend .krampus;
            font-size: 2vw;
            line-height: 2;
        }
        .amount {
            @extend h1;
            color: $color-text-main
        }
    }
}

.archive.woocommerce ul.products {
    @extend %block-default-full-width;
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    li {
        @extend %block-default-full-width;
        max-width: 100%;
        background: $color-gray-4;
        color: $white;
        padding: $padding-lg;
        margin-bottom: $padding-lg;
        a img {
            @extend .one-fourth;
            margin-left: 0;
            padding-right: $padding-lg;
        }
        a h3 {
            @extend .krampus;
            @extend %link-default;
            font-size: 2.5vw;
            margin-top: $padding-md;
            margin-bottom: $padding-md;
        }
    }
    .button,
    .woocommerce .button,
    .woocommerce .button.alt,
    .woocommerce a .button,
    .woocommerce a.button,
    .woocommerce button,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt,
    button {
        float: left;
        width: auto;
        min-width: none;
        max-width: 200px;
        text-align: center;
        //margin-left: calc(23.0769230769% + #{$padding-lg});
    }
    a span.price {
        font-family: $font-sans-bold;
        color: $color-text-main;
        font-size: 1.6vw;
        width: 100%;

    }
}
